{% extends "base.html.twig" %}

{% block title %} Série #{{ categories.id }} {% endblock %}

{% block body %}

<div class="media">
Last Program in Category {{ categories.name }}

{% for program in programs %}
<h1> {{ program.title }} </h1> 

   
{% endfor %}
</div>
<a href="{{ path('categories_index')}}">
Retour à la liste des category
</a>
{% endblock %}
