{% extends "base.html.twig" %}

{% block title %} Série #{{ categories.id }} {% endblock %}

{% block body %}

<div class="media">
<h2> List Program in Category : ** {{ categories.name }} ** </h2>
</div>

{% for program in programs %}
<div>
<h3> {{ program.title }} </h3> 
</div>
   
{% endfor %}
</div>
<a href="{{ path('categories_index')}}">
Retour à la liste des category
</a>
{% endblock %}
