{% extends "base.html.twig" %}

{% block body %}

<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
   <h1>{{ title }} </h1>
   <img src="{{ asset('build/images/testimg.png') }}" alt="ACME image"/>
</body>
</html>

{% endblock %}
