{% extends "base.html.twig" %}

{% block body %}
<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   
</head>
<body>
   <h1>{{ website }} Numero {{ id }} </h1>
</body>
</html>
{% endblock %}
