
<header>
  
    <nav>
      <div class="logo" style="margin-top: 10px;">
        <img src="/assets/images/logo.jpg">
    </div>
      <ul>


        <li><a href="/">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="#">SignIn </a></li>
       Hello you're connected as a John Doe

        

        <li><a href="/vehicle/index">Vehicle</a></li>
        <li><a href="/user/index">User</a></li>
        <li><a href="/agency/index">Agency</a></li>
         <li><a href="#">Reservation</a></li>
        <li><a href="/user/disconnect">Disconnect</a></li>
       Hello {{ session.firstname }} you're connected as an {{ session.role }}

        {% endif %}
      </ul>
    </nav>

 
  </header>